<% if @engagement.errors.any? %>
  <% @engagement.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit engagement #<%= @engagement.id %>
</h1>

<hr>

<form action="/update_engagement/<%= @engagement.id %>" method="post">

  <div class="form-group">
    <label for="empl_id">
      Empl
    </label>

    <%= select_tag(:empl_id, options_from_collection_for_select(Employee.all, :id, :email, @engagement.empl_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="inst_id">
      Inst
    </label>

    <%= select_tag(:inst_id, options_from_collection_for_select(Institution.all, :id, :inst_name, @engagement.inst_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="sol_id">
      Sol
    </label>

    <%= select_tag(:sol_id, options_from_collection_for_select(Solution.all, :id, :sol_name, @engagement.sol_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="eng_name">
      Eng name
    </label>

    <input type="text" id="eng_name" name="eng_name" class="form-control" value="<%= @engagement.eng_name %>">
  </div>

  <div class="form-group">
    <label for="eng_number">
      Eng number
    </label>

    <input type="text" id="eng_number" name="eng_number" class="form-control" value="<%= @engagement.eng_number %>">
  </div>

  <div class="form-group">
    <label for="sp_link">
      Sp link
    </label>

    <input type="text" id="sp_link" name="sp_link" class="form-control" value="<%= @engagement.sp_link %>">
  </div>

  <div class="form-group">
    <label for="eng_summary">
      Eng summary
    </label>

    <input type="text" id="eng_summary" name="eng_summary" class="form-control" value="<%= @engagement.eng_summary %>">
  </div>

  <div class="form-group">
    <label for="type_id">
      Type
    </label>

    <%= select_tag(:type_id, options_from_collection_for_select(ProjectType.all, :id, :type_name, @engagement.type_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="phase_id">
      Phase
    </label>

    <%= select_tag(:phase_id, options_from_collection_for_select(ProjPhase.all, :id, :phase_name, @engagement.phase_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update engagement
  </button>
</form>

<hr>

<a href="/engagements">
  Go back
</a>
