<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Engagement #<%= @engagement.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/engagements" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/engagements/<%= @engagement.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit engagement
        </a>
      </div>

      <div class="col">
        <a href="/delete_engagement/<%= @engagement.id %>" class="btn btn-block btn-outline-secondary">
          Delete engagement
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Empl
      </dt>
      <dd>
        <% if @engagement.empl.present? %>
          <a href="/employees/<%= @engagement.empl_id %>">
            <%= @engagement.empl.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Inst
      </dt>
      <dd>
        <% if @engagement.inst.present? %>
          <a href="/institutions/<%= @engagement.inst_id %>">
            <%= @engagement.inst.inst_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Sol
      </dt>
      <dd>
        <% if @engagement.sol.present? %>
          <a href="/solutions/<%= @engagement.sol_id %>">
            <%= @engagement.sol.sol_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Eng name
      </dt>
      <dd>
        <%= @engagement.eng_name %>
      </dd>

      <dt>
        Eng number
      </dt>
      <dd>
        <%= @engagement.eng_number %>
      </dd>

      <dt>
        Sp link
      </dt>
      <dd>
        <%= @engagement.sp_link %>
      </dd>

      <dt>
        Eng summary
      </dt>
      <dd>
        <%= @engagement.eng_summary %>
      </dd>

      <dt>
        Type
      </dt>
      <dd>
        <% if @engagement.type.present? %>
          <a href="/project_types/<%= @engagement.type_id %>">
            <%= @engagement.type.type_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Phase
      </dt>
      <dd>
        <% if @engagement.phase.present? %>
          <a href="/proj_phases/<%= @engagement.phase_id %>">
            <%= @engagement.phase.phase_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@engagement.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@engagement.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

