<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Solution #<%= @solution.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/solutions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/solutions/<%= @solution.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit solution
        </a>
      </div>

      <div class="col">
        <a href="/delete_solution/<%= @solution.id %>" class="btn btn-block btn-outline-secondary">
          Delete solution
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sol name
      </dt>
      <dd>
        <%= @solution.sol_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@solution.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@solution.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "solution_templates/solution_engagements" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "solution_templates/solution_project_types" %>
  </div>
</div>
