<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Employee #<%= @employee.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/employees" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/employees/<%= @employee.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit employee
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @employee.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @employee.password %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @employee.name %>
      </dd>

      <dt>
        Position
      </dt>
      <dd>
        <%= @employee.position %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@employee.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@employee.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "employee_templates/employee_engagements" %>
  </div>
</div>
