<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Institution #<%= @institution.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/institutions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/institutions/<%= @institution.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit institution
        </a>
      </div>

      <div class="col">
        <a href="/delete_institution/<%= @institution.id %>" class="btn btn-block btn-outline-secondary">
          Delete institution
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Inst name
      </dt>
      <dd>
        <%= @institution.inst_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@institution.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@institution.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "institution_templates/institution_engagements" %>
  </div>
</div>
