<% if @project_type.errors.any? %>
  <% @project_type.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit project type #<%= @project_type.id %>
</h1>

<hr>

<form action="/update_project_type/<%= @project_type.id %>" method="post">

  <div class="form-group">
    <label for="type_name">
      Type name
    </label>

    <input type="text" id="type_name" name="type_name" class="form-control" value="<%= @project_type.type_name %>">
  </div>

  <div class="form-group">
    <label for="sol_id">
      Sol
    </label>

    <%= select_tag(:sol_id, options_from_collection_for_select(Solution.all, :id, :sol_name, @project_type.sol_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update project type
  </button>
</form>

<hr>

<a href="/project_types">
  Go back
</a>
