<!-- Validation failure messages -->
<% if @project_type.errors.any? %>
  <% @project_type.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit project type #<%= @project_type.id %>
</h1>

<hr>

<!-- Form project_type start -->
<form action="/update_project_type/<%= @project_type.id %>" method="post">
<!-- Form project_type end -->

  <!-- Label and input for type_name start -->
  <div class="form-group">
    <label for="type_name">
      Type name
    </label>

    <!-- Input for type_name start -->
    <input type="text" id="type_name" name="type_name" class="form-control" value="<%= @project_type.type_name %>">
    <!-- Input for type_name end -->
  </div>
  <!-- Label and input for type_name end -->

  <!-- Label and input for sol_id start -->
  <div class="form-group">
    <label for="sol_id">
      Sol
    </label>

    <!-- Input for sol_id start -->
    <%= select_tag(:sol_id, options_from_collection_for_select(Solution.all, :id, :sol_name, @project_type.sol_id), :class => "form-control") %>
    <!-- Input for sol_id end -->
  </div>
  <!-- Label and input for sol_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update project type
  </button>
</form>

<hr>

<a href="/project_types">
  Go back
</a>
