<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All proj phases
    </h1>

    <a href="/proj_phases/new" class="btn btn-block btn-outline-secondary">
      Add a new proj phase
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Phase name
        </th>

        <th>
          Type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @proj_phases.each do |proj_phase| %>
      <tr>
        <!-- Display proj_phase.id start -->
        <td>
          <%= proj_phase.id %>
        </td>
        <!-- Display proj_phase.id end -->

        <!-- Display proj_phase.phase_name start -->
        <td>
          <%= proj_phase.phase_name %>
        </td>
        <!-- Display proj_phase.phase_name end -->

        <!-- Display proj_phase.type_id start -->
        <td>
          <%= proj_phase.type.type_name %>
        </td>
        <!-- Display proj_phase.type_id end -->

        <!-- Display proj_phase.created_at start -->
        <td>
          <%= time_ago_in_words(proj_phase.created_at) %> ago
        </td>
        <!-- Display proj_phase.created_at end -->

        <!-- Display proj_phase.updated_at start -->
        <td>
          <%= time_ago_in_words(proj_phase.updated_at) %> ago
        </td>
        <!-- Display proj_phase.updated_at end -->

        <td>
          <a href="/proj_phases/<%= proj_phase.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
