<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Proj phase #<%= @proj_phase.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/proj_phases" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/proj_phases/<%= @proj_phase.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit proj phase
        </a>
      </div>

      <div class="col">
        <a href="/delete_proj_phase/<%= @proj_phase.id %>" class="btn btn-block btn-outline-secondary">
          Delete proj phase
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Phase name
      </dt>
      <dd>
        <%= @proj_phase.phase_name %>
      </dd>

      <dt>
        Type
      </dt>
      <dd>
        <% if @proj_phase.type.present? %>
          <a href="/project_types/<%= @proj_phase.type_id %>">
            <%= @proj_phase.type.type_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@proj_phase.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@proj_phase.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "proj_phase_templates/proj_phase_engagements" %>
  </div>
</div>
